<link rel="stylesheet" type="text/css" href="css/style.css"/>
<title>GpsMonitor</title>
<script type="text/javascript" charset="utf-8" src="cordova-2.1.0.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js" type="text/javascript"></script>
<script src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js" type="text/javascript" ></script>
<script src="jquery.ui.map.min.js" type="text/javascript"></script>
    <script type="text/javascript" charset="utf-8">
    document.addEventListener("deviceready", onDeviceReady, false);
    function onDeviceReady() {
        navigator.geolocation.getCurrentPosition(onSuccess, onError);
    }
    function onSuccess(position) {
        var re=true;
        var lat=position.coords.latitude;
        var lon=position.coords.longitude;
        var latlng = new google.maps.LatLng(lat, lon);
        var element = document.getElementById('geolocation');
        element.innerHTML = 'Latitude: '           + position.coords.latitude              + '<br />' +
                            'Longitude: '          + position.coords.longitude             + '<br />' +
                            'Accuracy: '           + position.coords.accuracy              + '<br />' +
                            
                            'Timestamp: '          +                                   position.timestamp          + '<br />';
    $('#map_canvas').gmap({ 'center': latlng });
    
    $('#map_canvas').gmap('addMarker', { 'position': latlng, 'bounds': false } );
    $('#map_canvas').gmap('option', 'zoom', 16);
    }

    // onError Callback receives a PositionError object
    //
    function onError(error) {
        alert('code: '    + error.code    + '\n' +
                'message: ' + error.message + '\n');
    }

    function zoomout(){
    var zoom = $('#map_canvas').gmap('option', 'zoom');
     $('#map_canvas').gmap('option', 'zoom', zoom-2);
    }
    function zoomin(){
    var zoom = $('#map_canvas').gmap('option', 'zoom');
     $('#map_canvas').gmap('option', 'zoom', zoom+2);
    }
    </script>    

 <body>
<div id="title">GPS Monitor</div>
<div id="container">
<div id="rightbox">
<div id="geolocation">Your GPS data will be here</div>
<div id="map_controls">
 <a href="#"  onclick="zoomout()"><span class="button big green">Zoom Out</span></a><br>
 
<a href="#"  onclick="zoomin();"><span class="button big blue">Zoom IN</span></a><br>
 
<a href="#" ><span class="button big gray">Reset</span></a>
</div>
</div>
<div id="map_canvas" style=""></div>
</div>
<div id="footer">Designed and developed by Deepak Pant</div>
</body>