<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script type="text/javascript" src="jquery.ui.map.js"></script>
<script type="text/javascript">
            $(function() { 
				demo.add(function() {
					$('#map_canvas').gmap({'center': '27.7167,85.3667', 'zoom': 10, 'disableDefaultUI':true, 'callback': function() {
						var self = this;
						self.addMarker({'position': this.get('map').getCenter() }).click(function() {
							self.openInfoWindow({ 'content': 'Deepak is here!' }, this);
						});	

					}});

$('#map_canvas').gmap({'center': '56.7973333,12.0502107', 'zoom': 10, 'disableDefaultUI':true, 'callback': function() {
						var self = this;
						self.addMarker({'position': this.get('map').getCenter() }).click(function() {
							self.openInfoWindow({ 'content': 'Deepak is here!' }, this);
						});	

					}});

				}).load();
			});
        </script>
<div id="map_canvas">
</div>
